<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${coin.getPartNumber()}">Coin</title>
</head>
<body>
<h2 th:text="${coin.getCname()}">VALUE</h2>
<a th:href="'https://cbr.ru/dzi/?tilesources='+${coin.getPartNumber()}+'r'" text="">
    <img th:src="@{'data:image/jpeg;base64,'+${coin.getRevers()}}"
         th:alt="${coin.getPartNumber()}">
<!--    th:src="'https://cbr.ru/legacy/PhotoStore/img/'+${coin.getPartNumber()}+'r.jpg'"-->
</a>


<a th:href="'https://cbr.ru/dzi/?tilesources='+${coin.getPartNumber()}" text="">
    <img th:src="@{'data:image/jpeg;base64,'+${coin.getAvers()}}"
         th:alt="${coin.getPartNumber()}">
<!--    th:src="'https://cbr.ru/legacy/PhotoStore/img/'+${coin.getPartNumber()}+'.jpg'"-->
</a>
<table>
    <tr>
        <th>Каталожный номер</th>
        <th><p th:text="${coin.getPartNumber()}">coin</p></th>
    </tr>
    <tr>
        <th>Номинал</th>
        <th><a th:href="@{/coins/query}+'?query=nominal&value='+${coin.getNominal()}"
               th:text="${coin.getNominal()}">
            coin</a>
        </th>
    </tr>
    <tr>
        <th>Серия</th>
        <th><a th:href="@{/coins/query}+'?query=sname&value='+${coin.getSname()}"
               th:text="${coin.getSname()}">
            coin</a></th>
    </tr>
    <tr>
        <th>Дата выпуска</th>
        <th><a th:href="@{/coins/query}+'?query=dt&value='+${coin.getDt()}"
               th:text="${coin.getDt()}">coin</a>
        </th>
    </tr>
    <tr>
        <th>Метал</th>
        <th><a th:href="@{/coins/query}+'?query=metal&value='+${coin.getMetal()}"
               th:text="${coin.getMetal()}">coin</a></th>
    </tr>
    <tr>
        <th>Тираж</th>
        <th><p th:text="${coin.getCirculation()}">coin</p></th>
    </tr>
    <tr>
        <th>Имеется в наличии</th>
        <th><p th:text="${coin.getAvailability()}">coin</p></th>
    </tr>
    <tr>
        <th>Ссылка на страницу ЦБ России</th>
        <th><a th:href="'https://cbr.ru/cash_circulation/memorable_coins/coins_base/ShowCoins/?cat_num='+${coin.getPartNumber()}"
               th:text="'Монета - '+${coin.getPartNumber()}">coin</a></th>
    </tr>
</table>
</body>
</html>