<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${coin.getPartNumber()}">Coin</title>
</head>
<body>
<h2 th:text="${coin.getCname()}">VALUE</h2>
<a th:href="'https://cbr.ru/dzi/?tilesources='+${coin.getPartNumber()}+'r'" text="">
    <img th:src="@{'data:image/jpeg;base64,'+${coin.getRevers()}}"
         th:alt="${coin.getPartNumber()}">
<!--    th:src="'https://cbr.ru/legacy/PhotoStore/img/'+${coin.getPartNumber()}+'r.jpg'"-->
</a>


<a th:href="'https://cbr.ru/dzi/?tilesources='+${coin.getPartNumber()}" text="">
    <img th:src="@{'data:image/jpeg;base64,'+${coin.getAvers()}}"
         th:alt="${coin.getPartNumber()}">
<!--    th:src="'https://cbr.ru/legacy/PhotoStore/img/'+${coin.getPartNumber()}+'.jpg'"-->
</a>
<table>
    <tr>
        <th>Каталожный номер</th>
        <th><p th:text="${coin.getPartNumber()}">coin</p></th>
    </tr>
    <tr>
        <th>Номинал</th>
        <!-- Сделать ссылку на все монеты тогоже номинала -->
        <th><a th:href="@{/coins/{partNumber}(partNumber=${coin.getPartNumber()})}"
               th:text="${coin.getNominal()}">coin</a>
        </th>
    </tr>
    <tr>
        <th>Серия</th>
        <!-- Сделать ссылку на всю серию -->
        <th><a th:href="@{/coins/{partNumber}(partNumber=${coin.getPartNumber()})}"
               th:text="${coin.getSname()}">coin</a></th>
    </tr>
    <tr>
        <th>Дата выпуска</th>
        <!-- Сделать ссылку на все монеты этого года -->
        <th><a th:href="@{/coins/{partNumber}(partNumber=${coin.getPartNumber()})}" th:text="${coin.getDt()}">coin</a>
        </th>
    </tr>
    <tr>
        <th>Метал</th>
        <!-- Сделать ссылку на все монеты тогоже металла -->
        <th><a th:href="@{/coins/{partNumber}(partNumber=${coin.getPartNumber()})}"
               th:text="${coin.getMetal()}">coin</a></th>
    </tr>
    <tr>
        <th>Тираж</th>
        <th><p th:text="${coin.getCirculation()}">coin</p></th>
    </tr>
    <tr>
        <th>Имеется в наличии</th>
        <th><p th:text="${coin.getAvailability()}">coin</p></th>
    </tr>
</table>
</body>
</html>